.header {
    background-color: #2c2c2c;
    color: #fff;
    margin: 0;
    padding: 1em;
    /*filter: drop-shadow(0px 3px 3px #000);*/
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header .title {
    font-weight: 900;
    font-size: 3em;
}

.header .titleP {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}