.loadPathEl {
    padding: 1em;
    border-radius: 15px;
    border: 1px solid #2c2c2c;
    width: 20em;
    filter: drop-shadow(5px 7px 25px #000);
}

.rmButton {
    border: 1px solid red;
    color: red;
    background-color: #1c1c1c;
    border-radius: 10px;
    padding: 0.5em;
    font-size: 0.8em;
    margin-top: 2em;
    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

.rmButton:hover {
    background-color: red;
    color: #1c1c1c;
    transform: scale(1.1);
}